fastapi[all]
stripe
SQLAlchemy
psycopg2-binary
alembic
bcrypt
python-jose[cryptography]
python-multipart
pydantic[email]
google-auth
requests
sendgrid
facebook-sdk
# Testing
pytest
pytest-mock
httpx


# Waveform generation
pydub
audioop-lts; python_version >= "3.13"
